/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: white;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: transparent;
  border: 1px solid #fff;	
}

.btn-default:hover{
	color:#13b013;
	border: 1px solid #13b013;
}

/*
 * Estrctura de base
 */

html,
body {
  height: 100%;
  background: #333 url(../img/bg5.jpg) repeat-x;
  background-position: center;
  background-attachment: fixed;
  position:relative;
  padding-top:24px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper2 {	
  background-color:white;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  color:black;
}
.site-wrapper3 {	
  background: #333 url(../img/bg2_1.jpg) repeat-x;
  background-position: center;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  color:black;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

/*
    Contenido
*/
.img-modulo{
	margin:0;
	padding:0;	
}
.img_contenido{
	height:337px;
	width:337px;
}

.container{
	width:100%;
}

.mod{
	position: relative;
	float: left;
	overflow: hidden;
}

.box-mod{	
	height:337px;
}

.box-img{
	height:674px;
}

.bm1{
	background-color:#1BCE7C;
	
}
.bm2{
	background-color:#FFE5EE;
}
.bm3{
	background-color:#3E9995;
}
.bm4{
	background-color:#EEFFED;
}
.bm5{
	background-color:#BAFFCF;
}
.bm6{
	background-color:#B4CECB	;
}
.bm7{
	background-color:#376368;
}
.info-image{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color:rgba(19,176,19,0.7);
	-webkit-transition: background-color 0.2s ease 0.2s;
	transition: background-color 0.2s ease 0.2s;
	
	
	overflow: hidden;
	padding: 0px 6%;
	display:none;
	z-index:10;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);	
}
.mod:hover .info-image{
	display:block;
	
}
.center-vertically{
    margin-top:40%;
    white-space: normal;
    }

.box-contacto, .box-contacto2{
	padding-top:6%;
	line-height:1.5;
}
.box-contacto3{
	line-height:1.5;
	padding-top:25%;
}
.box-contacto p{
	font-size:42px;
}
.box-contacto2 p, .box-contacto3 p{
	font-size:30px;
}
.box-contacto-header{
	letter-spacing:0.3em;

}

.box-line{
	font-size:17.5px;
}

.box-circle{	
	border:solid 2px black;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	margin-left:40%;
	font-size:12px;
	text-align:center;
	padding:1.5em;
}

.circle-text {
	width:12%;
	margin-left:44%;
}

.circle-text2 {
	width:20%;
	margin-left:38%;
}


.circle-text:after, .circle-text2:after {
	content: "";
	display: block;
	width: 110%;
	height:0;
	border:solid 2px black;
	padding-bottom: 100%;
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	border-radius: 50%;

}
.circle-text div , .circle-text2 div{
float:left;
width:100%;
padding-top:50%;
padding-left:10%;
line-height:1em;
margin-top:-0.5em;
text-align:center;
color:black;
font-size:0.8em;
}


/*
    Footer main
*/

footer{	
	
	border-top:solid 1px #e7e7e7;
	color:black;
	}
footer div{
	background: #EFE url(../img/bg.png);
	height:90px;
	text-align:left;
}
.link-footer:hover{
	background:#FFF;
	 -webkit-box-shadow: inset 0 0 50px rgba(149,149,149,.5);
          box-shadow: inset 0 0 50px rgba(149,149,149,.5);  
}
.icon-footer{	
	padding-top:20px;
	padding-left:20px;	
}
footer div p{
	padding-top:20px;
	line-height:25px;
	margin-left:-30px;
}
footer div p small{
	color:#808080;
}
